<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Análise-Exploratória-de-Dados-(EDA)" data-toc-modified-id="Análise-Exploratória-de-Dados-(EDA)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Análise Exploratória de Dados (EDA)</a></span><ul class="toc-item"><li><span><a href="#Definição-do-Problema" data-toc-modified-id="Definição-do-Problema-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Definição do Problema</a></span></li><li><span><a href="#Fonte-de-Dados" data-toc-modified-id="Fonte-de-Dados-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Fonte de Dados</a></span></li><li><span><a href="#Usando-Paletas-de-Cor" data-toc-modified-id="Usando-Paletas-de-Cor-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Usando Paletas de Cor</a></span></li><li><span><a href="#Distribuição-e-Evolução-de-Avaliações" data-toc-modified-id="Distribuição-e-Evolução-de-Avaliações-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Distribuição e Evolução de Avaliações</a></span></li><li><span><a href="#Explorando-(co)Relações" data-toc-modified-id="Explorando-(co)Relações-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Explorando (co)Relações</a></span></li><li><span><a href="#Relação-entre-uma-variável-continua-e-uma-categórica" data-toc-modified-id="Relação-entre-uma-variável-continua-e-uma-categórica-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Relação entre uma variável continua e uma categórica</a></span></li><li><span><a href="#Análises-multi-variáveis" data-toc-modified-id="Análises-multi-variáveis-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Análises multi-variáveis</a></span></li></ul></li></ul></div>

In [1]:
import os
import numpy as np
import seaborn as sns
import pandas as pd
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv("credentials/mysql.env")
url_banco = "localhost"
nome_db = "olist"
conn_str = f"mysql+pymysql://{os.getenv('MYSQL_USER')}:{os.getenv('MYSQL_PASS')}@{url_banco}/{nome_db}"
engine = create_engine(conn_str)

In [2]:
sns.set_theme(context="notebook", style="darkgrid")

Para facilitar nosso trabalho na aula de hoje, vamos criar um View com os dados que utilizaremos ao longo da aula.

# Análise Exploratória de Dados (EDA)

O processo de construção de modelos pode ser dividido em quatro etapas:

1. **Definição do Problema e Coleta de Dados**;
    * Todo modelo deve ter um **objetivo bem definido**.
    * O **tempo disponível** para construção é **parte da definição do problema**!
    * A partir desta definição podemos definir *quais dados serão necessários* para **iniciarmos nossa análise**.
1. **Análises Exploratórias**;
    * O objetivo da análise exploratória é *maximizar o nosso conhecimento* sobre a **estrutura dos dados** disponíveis, mapear as relações entre diferentes variáveis e o objetivo do nosso problema e **avaliar a qualidade dos dados**, eventualmente propondo tratativas para sanar problemas.
1. **Definição e construção do modelo**;
    * A partir do conhecimento adquirido durante a análise exploratória vamos determinar quais **técnicas são mais apropriadas** para a resolução do nosso problema.
    * Para escolher entre diferentes técnicas devemos **implantar uma infra-estrutura rudimentar de testes**, que nos permita *testar diferentes modelos de forma rápida e simples*.
1. **Validação e definição de próximos passos**.
    * Com a construção do modelo finalizada, conduziremos a validação final do modelo, apresentando os conceitos por trás deste para os diferentes stakeholders do projeto. Além disso conduziremos testes utilizando a infra-estrutura operacional do modelo, garantindo que não houve perda de performance nas condições operacionais.

Este processo **não é necessariamente linear**: podemos descobrir na etapa de análises exploratórias que não temos todas as informações necessárias para construir um modelo, ou então que as informações estão comprometidas a ponto de inviabilizar qualquer análise.

Hoje nos aprofundaremos na segunda etapa deste fluxo: a análise exploratória de dados!

## Definição do Problema

Para a aula de hoje utilizaremos o data set da Olist. Foi solicitado ao CoE de Dados que construa um modelo para explicar e prever variações nas avalições que clientes fizeram de nossos pedidos. O objetivo deste modelo é descobrir quais são os principais eixos que impactam estas avaliações para que possamos focar esforços na melhoria das áreas mais críticas.

Os dados utilizados serão os dados do case OLIST, disponíveis no nosso DB MySQL.

## Fonte de Dados

No caso da aula de hoje, utilizaremos o nosso DB MySQL como fonte de dados para nossa análise exploratória.

In [3]:
query = """
	SELECT
		oodc.order_id,
		ooidc.seller_id,
		ooidc.price,
		ooidc.freight_value,
		oodc.order_status,
		STR_TO_DATE(oodc.order_approved_at, '%%Y-%%m-%%d %%H:%%i:%%s') AS order_approved_at,
		STR_TO_DATE(ooidc.shipping_limit_date, '%%Y-%%m-%%d %%H:%%i:%%s') AS shipping_limit_date,
		STR_TO_DATE(oodc.order_delivered_carrier_date, '%%Y-%%m-%%d %%H:%%i:%%s') AS order_delivered_carrier_date,
		STR_TO_DATE(oodc.order_delivered_customer_date, '%%Y-%%m-%%d %%H:%%i:%%s') AS order_delivered_customer_date,
		STR_TO_DATE(oodc.order_estimated_delivery_date, '%%Y-%%m-%%d %%H:%%i:%%s') AS order_estimated_delivery_date,
		ocdc.customer_state,
		osdc.seller_state,
		opdc.product_category_name,
		opdc.product_weight_g,
		oordc.review_score 
	FROM 
		olist_order_items_dataset_csv ooidc JOIN
		olist_orders_dataset_csv oodc ON (ooidc.order_id = oodc.order_id) JOIN 
		olist_customers_dataset_csv ocdc ON (oodc.customer_id = ocdc.customer_id) JOIN 
		olist_products_dataset_csv opdc ON (ooidc.product_id = opdc.product_id) JOIN
		olist_sellers_dataset_csv osdc ON (osdc.seller_id = ooidc.seller_id) LEFT JOIN 
		olist_order_reviews_dataset_csv oordc ON (oodc.order_id = oordc.order_id) JOIN
		(
			SELECT
				oordc.review_id,
				STR_TO_DATE(oordc.review_creation_date, '%%Y-%%m-%%d %%H:%%i:%%s') AS review_date,
				SUM(1) OVER (PARTITION BY order_id ORDER BY order_id, STR_TO_DATE(oordc.review_creation_date, '%%Y-%%m-%%d %%H:%%i:%%s') DESC) AS cum_review
			FROM 
				olist_order_reviews_dataset_csv oordc
			ORDER BY 
				oordc.order_id,
				STR_TO_DATE(oordc.review_creation_date, '%%Y-%%m-%%d %%H:%%i:%%s') DESC
		) AS lr ON (oordc.review_id = lr.review_id)
	WHERE
		lr.cum_review = 1
	HAVING
		order_approved_at >= '2017-08-01' AND
		order_approved_at < '2018-08-01'
"""
tb_pedidos = pd.read_sql(query, engine)

In [4]:
tb_pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66136 entries, 0 to 66135
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       66136 non-null  object
 1   seller_id                      66136 non-null  object
 2   price                          66136 non-null  float64
 3   freight_value                  66136 non-null  float64
 4   order_status                   66136 non-null  object
 5   order_approved_at              66136 non-null  datetime64[ns]
 6   shipping_limit_date            66136 non-null  datetime64[ns]
 7   order_delivered_carrier_date   65536 non-null  datetime64[ns]
 8   order_delivered_customer_date  64881 non-null  datetime64[ns]
 9   order_estimated_delivery_date  66136 non-null  datetime64[ns]
 10  customer_state                 66136 non-null  object
 11  seller_state                   66136 non-null  object
 12  product_category_name          66136 non-null  object
 13  product_weight_g               66134 non-null  float64
 14  review_score                   66136 non-null  int64
dtypes: datetime64[ns](5), float64(3), int64(1), object(6)
memory usage: 7.6+ MB

In [5]:
tb_pedidos.describe()

              price  freight_value  product_weight_g  review_score
count  66136.000000   66136.000000      66134.000000  66136.000000
mean     120.431259      20.100345       2083.401110      3.996386
std      174.447365      15.793979       3703.339539      1.415262
min        0.850000       0.000000          0.000000      1.000000
25%       39.990000      13.070000        300.000000      3.000000
50%       75.900000      16.360000        668.000000      5.000000
75%      135.705000      21.300000       1800.000000      5.000000
max     4099.990000     409.680000      40425.000000      5.000000

In [7]:
tb_pedidos.select_dtypes(include=["object"]).describe()

,order_id,seller_id,order_status,customer_state,seller_state,product_category_name
count,66136,66136,66136,66136,66136,66136
unique,57274,2455,5,27,21,74
top,1b15974a0141d54e36626dca3fdc731a,1f50f920176fa81dab994f9023523100,delivered,SP,SP,cama_mesa_banho
freq,20,1365,64885,27782,47523,6577

In [8]:
tb_pedidos.select_dtypes(include=["datetime"]).describe(datetime_is_numeric=True)

,order_approved_at,shipping_limit_date,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,66136,66136,65536,64881,66136
mean,2018-02-11 11:07:16.559044864,2018-02-17 16:20:51.841478400,2018-02-14 13:42:09.620116992,2018-02-24 02:56:05.722954240,2018-03-06 22:11:45.890891264
min,2017-08-01 00:15:18,2017-08-07 00:15:18,2017-08-01 12:08:02,2017-08-02 16:13:08,2017-08-10 00:00:00
25%,2017-11-25 04:39:01.500000,2017-11-30 19:53:46,2017-11-28 22:31:52.750000128,2017-12-08 14:33:51,2017-12-18 00:00:00
50%,2018-02-16 10:10:25,2018-02-22 11:52:57,2018-02-20 19:04:19,2018-03-03 00:51:44,2018-03-13 00:00:00
75%,2018-05-04 14:53:28.500000,2018-05-10 10:30:18.500000,2018-05-07 19:09:00,2018-05-15 14:26:52,2018-05-25 00:00:00
max,2018-07-31 23:44:07,2018-08-29 12:30:12,2018-08-22 15:07:00,2018-10-17 13:22:46,2018-09-20 00:00:00

In [9]:
colunas_data = tb_pedidos.select_dtypes(include=["datetime"]).columns
colunas_data

Index(['order_approved_at', 'shipping_limit_date',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'],
      dtype='object')

In [12]:
tb_pedidos['order_approved_at'].dt.normalize()

0       2017-11-26
1       2018-04-16
2       2017-11-26
3       2018-05-18
4       2018-07-19
           ...
66131   2018-04-24
66132   2018-01-20
66133   2017-09-26
66134   2017-10-05
66135   2017-10-05
Name: order_approved_at, Length: 66136, dtype: datetime64[ns]

In [13]:
for coluna in colunas_data:
    tb_pedidos[coluna] = tb_pedidos[coluna].dt.normalize()

In [15]:
tb_pedidos["atraso"] = tb_pedidos["order_delivered_customer_date"] > tb_pedidos["order_estimated_delivery_date"]

In [17]:
tb_pedidos[["atraso", "order_delivered_customer_date", "order_estimated_delivery_date"]]

       atraso order_delivered_customer_date order_estimated_delivery_date
0        True                    2018-01-13                    2017-12-22
1       False                    2018-05-01                    2018-05-10
2       False                    2017-12-15                    2017-12-27
3        True                    2018-07-05                    2018-06-22
4       False                    2018-07-21                    2018-08-06
...       ...                           ...                           ...
66131    True                    2018-05-25                    2018-05-15
66132   False                    2018-02-19                    2018-03-12
66133   False                    2017-09-29                    2017-10-11
66134   False                    2017-10-18                    2017-10-23
66135   False                    2017-10-18                    2017-10-23

[66136 rows x 3 columns]

In [ ]:
tb_pedidos.loc[tb_pedidos["atraso"], "dias_atraso"] = (
    tb_pedidos["order_delivered_customer_date"]
    - tb_pedidos["order_estimated_delivery_date"]
) / np.timedelta64(7, "D")

tb_pedidos.loc[~tb_pedidos["atraso"], "dias_atraso"] = 0

In [ ]:
tb_pedidos = tb_pedidos.dropna()
tb_pedidos.info()

## Usando Paletas de Cor

Um dos principais elementos na gramática dos gráficos é a cor. Podemos utilizar a cor de forma gradual (através de **paletas uniformes ou divergentes**) para representar variáveis continuas ou então de forma discreta (através de **paletas qualitativas**).

A biblioteca `seaborn` vem com algumas paletas de cores pré-configuradas, as quais podemos investigar e acessar através da função `color_palette()`. Esta função nos permite visualizar os elementos discretos de uma paleta através de seu nome, e acessar cada cor especificamente através de sua indexação.

In [ ]:
sns.color_palette("Paired")

Para padronizar a utilização de cores podemos guardar paletas em variáveis para utilização futura:

In [ ]:
colors_discrete = sns.color_palette("Paired")

Vamos criar um subset desta paleta, mantendo apenas as cores fortes:

In [ ]:
colors_discrete_strong = [color for color in colors_discrete if colors_discrete.index(color) % 2 != 0]

In [ ]:
sns.color_palette("icefire", as_cmap=True)

In [ ]:
colors_cont = sns.color_palette("icefire", as_cmap=True)

## Distribuição e Evolução de Avaliações

Vamos inicializar nossa análise investigando a distribuição e evolução histórica das avaliações.

In [ ]:
sns.histplot(data=tb_pedidos, x="review_score")

Como as notas dadas pelos clientes são discretas (de 1 à 5 estrelas provavelmente), nosso histograma se parece mais com um barplot. Para facilitar a leitura vamos utilizar um barplot diretamente:

In [ ]:
sns.countplot(data=tb_pedidos, x="review_score", palette = colors_discrete_strong)

Podemos ver que existe uma concentração de avaliações nos valores extremos (1 e 5) - vamos agrupar essas notas em duas categorias, marcando as notas 1, 2 e 3 como `detractor`.

In [ ]:
tb_pedidos["detractor"] = np.where(tb_pedidos["review_score"] <= 3, 1, 0)

Para visualizar a evolução histórica das avaliações precisamos agrupar os pedidos (granularidade do nosso `DataFrame`) em **time buckets**, intervalos de tempo fixos. Vamos utilizar **time buckets** diários para esta análise.

In [ ]:
tb_diaria = (
    tb_pedidos.groupby("order_approved_at")
    .agg(
        num_pedidos=pd.NamedAgg("order_id", "nunique"),
        avg_review=pd.NamedAgg("review_score", "mean"),
        std_review=pd.NamedAgg("review_score", "std"),
        per_detractor=pd.NamedAgg("detractor", "mean"),
        per_atraso=pd.NamedAgg("atraso", "mean"),
        avg_atraso=pd.NamedAgg("dias_atraso", "mean"),
    )
    .reset_index()
)

Vamos utilizar diferentes gráficos de linha para avaliar a evolução do número de pedidos, atrasos e avaliações:

In [ ]:
plt.figure(figsize=(12, 4))
sns.lineplot(data=tb_diaria, x="order_approved_at", y="num_pedidos")

In [ ]:
plt.figure(figsize=(12, 4))
sns.lineplot(data=tb_diaria, x="order_approved_at", y="avg_review")

In [ ]:
plt.figure(figsize=(12, 4))
sns.lineplot(data=tb_diaria, x="order_approved_at", y="per_detractor")

In [ ]:
tb_diaria["cv_review"] = tb_diaria["std_review"] / tb_diaria["avg_review"]

plt.figure(figsize=(12, 4))
sns.lineplot(data=tb_diaria, x="order_approved_at", y="cv_review")

In [ ]:
fig, ax = plt.subplots(4, 1, figsize=(12, 16))

sns.lineplot(data=tb_diaria, x="order_approved_at", y="num_pedidos", ax=ax[0])
sns.lineplot(data=tb_diaria, x="order_approved_at", y="avg_review", ax=ax[1])
sns.lineplot(data=tb_diaria, x="order_approved_at", y="cv_review", ax=ax[2])
sns.lineplot(data=tb_diaria, x="order_approved_at", y="per_detractor", ax=ax[3])

Embora a análise das séries diárias nos permita ver fenômenos como a sazonalidade de dia da semana e eventuais outliers, a alta frequência da série pode ocultar padrões mais estáveis. Vamos suaziar estas séries utilizando médias móveis:

In [ ]:
tb_diaria["mm_num_pedidos"] = tb_diaria["num_pedidos"].rolling(7).mean()
tb_diaria["mm_avg_review"] = tb_diaria["avg_review"].rolling(7).mean()
tb_diaria["mm_cv_review"] = tb_diaria["cv_review"].rolling(7).mean()
tb_diaria["mm_per_detractor"] = tb_diaria["per_detractor"].rolling(7).mean()
tb_diaria["mm_per_atraso"] = tb_diaria["per_atraso"].rolling(7).mean()
tb_diaria.head(10)

Agora vamos combinar as visualizações que construímos anteriormente (da visão diária) com as novas variáveis que construímos (médias móveis):

In [ ]:
fig, ax = plt.subplots(5, 1, figsize=(9, 12))

sns.scatterplot(
    data=tb_diaria,
    x="order_approved_at",
    y="num_pedidos",
    color=colors_discrete[0],
    ax=ax[0],
    alpha=0.9,
)
sns.lineplot(
    data=tb_diaria,
    x="order_approved_at",
    y="mm_num_pedidos",
    color=colors_discrete[1],
    ax=ax[0],
)
sns.scatterplot(
    data=tb_diaria,
    x="order_approved_at",
    y="avg_review",
    color=colors_discrete[2],
    ax=ax[1],
    alpha=0.9,
)
sns.lineplot(
    data=tb_diaria,
    x="order_approved_at",
    y="mm_avg_review",
    color=colors_discrete[3],
    ax=ax[1],
)
sns.scatterplot(
    data=tb_diaria,
    x="order_approved_at",
    y="cv_review",
    color=colors_discrete[4],
    ax=ax[2],
    alpha=0.9,
)
sns.lineplot(
    data=tb_diaria,
    x="order_approved_at",
    y="mm_cv_review",
    color=colors_discrete[5],
    ax=ax[2],
)
sns.scatterplot(
    data=tb_diaria,
    x="order_approved_at",
    y="per_detractor",
    color=colors_discrete[6],
    ax=ax[3],
    alpha=0.9,
)
sns.lineplot(
    data=tb_diaria,
    x="order_approved_at",
    y="mm_per_detractor",
    color=colors_discrete[7],
    ax=ax[3],
)
sns.scatterplot(
    data=tb_diaria,
    x="order_approved_at",
    y="per_atraso",
    color=colors_discrete[8],
    ax=ax[4],
    alpha=0.9,
)
sns.lineplot(
    data=tb_diaria,
    x="order_approved_at",
    y="mm_per_atraso",
    color=colors_discrete[9],
    ax=ax[4],
)

## Explorando (co)Relações

Através da **análise de séries temporais** conseguimos encontrar correlações temporais (no nível diário, não do pedido) entre alguns indicadores agregados. Vamos avaliar essas relações mais de perto utilizando *scatterplots* para **visualizar diretamente a estrutura de correlação** entre nossas variáveis temporais.

In [ ]:
sns.scatterplot(data=tb_diaria, x="num_pedidos", y="avg_review")

In [ ]:
sns.scatterplot(data=tb_diaria, x="mm_num_pedidos", y="mm_avg_review")

Vamos utilizar o elemento cor para representar a taxa de atraso, permitindo visualizarmos a relação entre 3 variáveis diretamente:

In [ ]:
sns.scatterplot(data=tb_diaria, x="mm_num_pedidos", y="mm_avg_review", hue="per_atraso")

Uma deficiência dos scatterplots é o **empilhamento de pontos**, que muitas vezes dificulta a visualização de regiões com maior densidade de pontos. Vamos utilizar a função `kdeplot()` para representar curvas de nível da densidade de pontos.

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (10, 5))
sns.kdeplot(data=tb_diaria, x="mm_num_pedidos", y="mm_avg_review", fill = True, ax = ax[0])
sns.kdeplot(data=tb_diaria, x="mm_per_atraso", y="mm_avg_review", fill = True, ax = ax[1])

## Relação entre uma variável continua e uma categórica

Agora vamos retornar à nossa base original, no nível linha do pedido, para analisarmos quais fatores discretos impactam a **% de atrasos** observada.

In [ ]:
tb_pedidos = tb_pedidos.merge(
    tb_diaria[["order_approved_at", "num_pedidos"]], on="order_approved_at"
)

Vamos começar analisando a distribuição de peso dos itens comprados pela categorização de avaliação que fizemos:

In [ ]:
sns.boxplot(
    data=tb_pedidos,
    x="detractor",
    y="product_weight_g",
)

Que gráfico horrível! Sempre que observamos uma variável (estritamente positiva) cuja distribuição está muito concentrada em valores baixos mas com muitos outliers, podemos considerar uma transformação logaritmíca para facilitar a visualização dos resultados:

In [ ]:
g = sns.boxplot(
    data=tb_pedidos[tb_pedidos["product_weight_g"] > 0],
    x="detractor",
    y="product_weight_g",
)
g.set_yscale("log")

Parece que o peso do item comprado não tem impacto sobre a avaliação... Testar variável a variável desta forma pode ser trabalhoso e nem sempre renderá avanços no nosso modelo. Vamos utilizar uma técnica reminescente das regressões lineares para facilitar nossa exploração: a **análise de resíduos (ou erros)**.

In [ ]:
g = sns.boxplot(data=tb_pedidos, x="atraso", y="review_score");

Claramente o *status* de atraso tem um impacto enorme nas avaliações, mas isso já era um fato conhecido! No entanto temos pedidos com avaliações <= 3 sem que houvesse atraso. Vamos criar uma base filtrada para buscar outros fatores que podem impactar a avaliação do cliente:

In [ ]:
mask_out = (~tb_pedidos["atraso"]) & (tb_pedidos["review_score"] <= 3)
tb_pedidos_out = tb_pedidos[mask_out].copy()

Além do atraso, um eixo comum de reclamação é a **qualidade dos produtos** pedidos. Vamos descobrir se existem categorias ofensoras dentro do nosso grupo de pedidos mal-avaliados sem atraso:

In [ ]:
sns.countplot(data=tb_pedidos_out, x="product_category_name");

O que está errado com esse gráfico?

In [ ]:
tb_cat_out = (
    tb_pedidos_out.groupby("product_category_name")["order_id"]
    .count()
    .reset_index()
    .rename({"order_id": "num_pedidos_out"}, axis=1)
)

tb_cat = (
    tb_pedidos.groupby("product_category_name")["order_id"]
    .count()
    .reset_index()
    .rename({"order_id": "num_pedidos_total"}, axis=1)
)

tb_cat = tb_cat.merge(tb_cat_out, on="product_category_name")
tb_cat["prop_total"] = tb_cat["num_pedidos_total"] / sum(tb_cat["num_pedidos_total"])
tb_cat["num_pedidos_out_expct"] = tb_cat["prop_total"] * sum(tb_cat["num_pedidos_out"])
tb_cat["diff_pedidos_out"] = tb_cat["num_pedidos_out"] - tb_cat["num_pedidos_out_expct"]

Agora podemos visualizar se existem categorias cujo # de pedidos dentro do grupo selecionado (sem atraso) é maior do que o esperado:

In [ ]:
sns.histplot(data=tb_cat, x="diff_pedidos_out")

Temos algumas ofensoras claras! Vamos filtrar a tabela acima e selecionar estas categorias:

In [ ]:
cat_problema = set(
    tb_cat.loc[tb_cat["diff_pedidos_out"] > 100, "product_category_name"]
)
cat_problema

Agora vamos utilizar esse conjunto de categorias para realizar um agrupamento da variável categoria na base original de pedidos:

In [ ]:
mask_cat = tb_pedidos["product_category_name"].map(lambda x: x in cat_problema)
tb_pedidos.loc[mask_cat, "cat_agg"] = tb_pedidos["product_category_name"]
tb_pedidos.loc[~mask_cat, "cat_agg"] = "Outros"
fig, ax = plt.subplots(figsize = (10, 5))
sns.boxplot(data=tb_pedidos, x="atraso", y="review_score", hue="cat_agg")

A natureza discreta do campo de avaliação dificulta a visualização da distribuição através de boxplots. Vamos utilizar um violin plot para aumentar a

In [ ]:
fig = plt.figure(figsize=(10, 5))
sns.violinplot(data=tb_pedidos, x="cat_agg", y="review_score", hue="atraso", split=True)

## Análises multi-variáveis

In [ ]:
tb_diaria.columns

In [ ]:
var_original = [
    "num_pedidos",
    "avg_review",
    "std_review",
    "per_detractor",
    "per_atraso",
    "avg_atraso",
]
var_mm = ["mm_num_pedidos", "mm_avg_review", "mm_cv_review", "mm_per_detractor"]

In [ ]:
sns.pairplot(tb_diaria[var_original])

In [ ]:
sns.pairplot(tb_diaria[var_mm])

In [ ]:
plt.figure(figsize=(12, 9))
sns.heatmap(tb_diaria[var_original].corr(), vmin=-1, center=0, vmax=1)

In [ ]:
plt.figure(figsize=(12, 9))
sns.clustermap(tb_diaria[var_mm].corr(), vmin=-1, center=0, vmax=1)